body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: lightgray;
    text-align: center;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.limenu{
    list-style: none;
    display: inline;
    margin: 5% 5% 5% 5%;
    padding: 2%;

}

nav{
    background-color: lightskyblue;
    padding: 1%;
}

.nomeh1{
    text-align: center;
    padding: 1%;
}

.links{
    text-align: center;
    margin: 10%;
    padding: 1%;
    
}

h2{
    font-size: xx-large;
    padding: 2% 7% 2% 7%;
}

h3{
width: 100%;
font-size: x-large;
text-align: center;
}

.div{
    background-color: lightskyblue;
    border-radius: 3em;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid lightskyblue;
}

.foto{
    text-align: center;
}

